@media (min-width: 901px) {
  .ReactModal__Content {
    width: 40%;
    height: 60%;
    margin: auto;
  }
}

/* Media queries para pantallas más pequeñas (ejemplo: ancho entre 650px y 900px) */
@media (min-width: 250px) and (max-width: 900px) {
  .ReactModal__Content {
    width: auto;
    height: auto;
    margin: auto;
  }
}
