#img {
  background: url("../../images/layer.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh; /* Ajusta la altura al 100% de la ventana */

  width: 100vw; /* Ajusta el ancho al 100% de la ventana */
  margin: 0; /* Asegúrate de que no haya márgenes que afecten el tamaño total */
}

/* Estilo adicional para el contenedor principal */
.wx {
  height: 100vh; /* Ajusta la altura al 100% de la ventana */

  width: 100vw; /* Ajusta el ancho al 100% de la ventana */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.ReactModal__Content {
  /* display: none; Oculta el contenido del modal */
  width: 600px;
  height: 35%;
  margin: auto;
}
